<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MP3 Hard Drive Space Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MP3 Hard Drive Space Calculator</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-label>Total space (MB)</ion-label>
        <ion-input type="number" required [(ngModel)]="totalSpace" 
          name="totalSpace"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Used space (MB)</ion-label>
        <ion-input type="number" required [(ngModel)]="usedSpace" 
          name="usedSpace"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nbr of tracks</ion-label>
        <ion-input type="number" required [(ngModel)]="nbrOfTracks" 
          name="nbrOfTracks"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <ion-button expand="block" (click)="calculate()">Calculate</ion-button>
    </div>
    <ion-list>
      <ion-item>Remaining space: {{calculatorService.getRemainingSpace()}} MB</ion-item>
      <ion-item>Average space of single track: {{calculatorService.getAverageTrackSpace() | number:'1.2-2'}} MB</ion-item>
      <ion-item>Nbr of tracks left: {{calculatorService.getNbrOfTracksLeft()}}</ion-item>
    </ion-list>
  </div>
</ion-content>
